<div class="container p-5">
    <div class="row">
      <div
        class="col-6 border border-light rounded p-5 shadow"
        *ngIf="formulario"
      >
        <h6>{{ tituloFormulario }}</h6>
        <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
          
          <div class="form-group">
            <label>CPF do Cliente</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="clienteCpf"
            />
          </div>
          <div class="form-group">
            <label>Placa do Veículo</label>
            <input
              type="text"
              class="form-control form-control-sm"
              formControlName="veiculoPlaca"
            />
          </div>
          <div class="container">
            <div class="row">
              <div>
                <button type="submit" class="btn btn-sm btn-outline-secondary">
                  Salvar
                </button>
              </div>
              <div class="pl-1">
                <button type="button" class="btn btn-sm btn-light">Voltar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  